@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  background-color: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}
.colcha {
  color: rgba(0, 0, 0, 0.6);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 1.5em;
}
.main {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.content {
  background-color: #fbfbfb;
  width: 600px;
  color: #6a1cc3;
}

.head {
  background-color: #6a1cc3;
  width: auto;
  height: 150px;
  color: #fbfbfb;
  display: grid;
  grid-template-columns: 15% auto;
  justify-items: center;
  align-items: center;

  filter: drop-shadow(0rem 0.5rem 0rem #8849cf);
}
.headafter {
  width: 0;
  height: 0;
  border-top: 20px solid #6a1cc3;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 0px solid transparent;
  filter: drop-shadow(0rem 0.5rem 0rem #8849cf);
}

.burger {
  height: 36px;
  width: 36px;
}

.bmenue {
  height: 3px;
  width: 22px;
  background-color: #fbfbfb;
  border-radius: 4px;
  margin-top: 4px;
}

.bsc {
  margin-left: 100px;
  margin-top: 20px;
  transform: scale(1.9);
}

.headc {
  margin: 50px;
}

.studentbox {
  height: 100px;
  width: 500px;
  border: 5px solid #6a1cc3;
  box-shadow: 5px 5px #8849cf;
}
.studentbox ~ .studentbox {
  margin-top: 30px;
}
