:root {
  font-size: 16px;
  --bg-color: #e5e5e5;
  --main-bg2-color: #6a1cc3;
  --main-bg1-color: #fbfbfb;
  --main-bg2-shadow: #8849cf;
  --text-color-grey: #00000099;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h1 {
  text-transform: uppercase;
  font-size: 1.5em;
  color: var(--main-bg1-color);
}

h2,
.xl {
  color: var(--main-bg2-color);
  font-size: 1.7em;
}

p {
  font-size: 1.3em;
  color: var(--main-bg2-color);
  margin: 0;
}

a {
  font-size: 1em;
  color: var(--main-bg2-color);
  margin: 0;
}

.text-grey {
  color: var(--text-color-grey);
  margin-block: 1em;
}

.unset {
  all: unset;
}

body {
  background-color: var(--bg-color);
}

.content {
  position: relative;
  max-width: 600px;
  margin: auto;
  background-color: var(--main-bg1-color);
}

.sta-pad {
  padding: 2.5em;
}

header {
  background-color: var(--main-bg2-color);
  filter: drop-shadow(0rem 0.65rem 0rem var(--main-bg2-shadow));
  display: flex;
  align-items: center;
}

.bi-list {
  fill: var(--main-bg1-color);
  height: 3em;
  padding-right: 1em;
}

#header-after2 {
  position: absolute;
  z-index: 0;
  margin-top: 10px;
  width: 100%;
  height: 20px;
  background: var(--main-bg2-shadow);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(180deg);
}

#header-after {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 20px;
  background: var(--main-bg2-color);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(180deg);
}

.input-search,
.in-select {
  border: 0.3em solid var(--main-bg2-color);
  border-radius: 0.1em;
  box-shadow: 0.1em 0.1em var(--main-bg2-shadow);
}

.input-search {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.input-search2 {
  width: 95%;
  padding: 0.7em;
  color: var(--main-bg2-color);
}

.bi-search {
  position: absolute;
  width: 1.5em;
  background-color: var(--main-bg1-color);
  fill: var(--main-bg2-color);
  padding-right: 1em;
}

.input-select {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-block: 1em;
}

.in-select {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-bg2-color);
}

.in1 {
  width: 50%;
  padding-left: 1em;
}

.in2 {
  width: 35%;
  padding-left: 1em;
}

.bi-chevron-down {
  _position: absolute;
  justify-self: flex-end;
  height: 1.5em;
  background-color: var(--main-bg2-color);
  fill: var(--main-bg1-color);
  margin: -0.1em;
  padding: 0.5em;
}

.studentbox {
  display: grid;
  grid-template-columns: 12% auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "mbrbutton stname"
    "mbrbutton gitname";
  border: 0.2em solid var(--main-bg2-color);
  border-radius: 0.2em;
  box-shadow: 0.2em 0.2em var(--main-bg2-shadow);
  padding: 1em;
}

.mbrbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: mbrbutton;
  background-color: var(--main-bg2-color);
  border-radius: 5px;
}

.stname {
  grid-area: stname;
  padding-left: 1em;
}

.gitname {
  grid-area: gitname;
  padding-left: 1em;
}

.studentbox ~ .studentbox {
  margin-top: 1.5em;
}

.studentbox:last-child {
  margin-bottom: 5em;
}

.bi-person {
  height: 2.5em;
  width: 2.5em;
  fill: var(--main-bg1-color);
  padding: 0.5em;
}
